*{
    padding: 5px;
}


textarea {
    resize: vertical;
    width: 25%;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
}

#mainForm{
    margin-top:20px;
    margin-left:20px;
    width: 50%;

}

#submit{
    margin-top: 50px;
    float: left;
    clear: both;
}

.fields input,.fields textarea {
    display: inline-block;
    float: left;
    width: 35%;
    margin: 10px;
}

.error{
    display: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffe2e2;
    color:#a30101;
    border:1px solid #ff0000;
    width: 95%;
    margin-top:5px;
    margine-bottom:20px;
}
