
*{
    padding: 5px;

}

body {
    background-color: #fffafa;
}

textarea {
    resize: vertical;
    width: 25%;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
}

form {

}

a {
    color: #fffafa;
    text-decoration: none;
}

.fields input,.fields textarea {
    display: inline-block;
    float: left;
    width: 35%;
    margin: 10px;
}

.error {
    display: none;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffe2e2;
    color:#a30101;
    border:1px solid #ff0000;
    width: 95%;
    margin-top:5px;
    margine-bottom:20px;
}

.image {
    display: none;
}

.nav {
    float: top;
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: lightslategray;
    text-decoration: #fffafa;
}

.nav li {
    float: left;
    text-align: center;
    background-color: lightslategray;
}

#mainForm {
    margin-top:20px;
    margin-left:20px;
    width: 50%;
    padding-bottom: 150px;

}

#submit {
    margin-top: 50px;
    float: left;
    clear: both;
}

